<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,120}</string>
                <key>spriteSourceSize</key>
                <string>{117,120}</string>
                <key>textureRect</key>
                <string>{{0,0},{117,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,120}</string>
                <key>spriteSourceSize</key>
                <string>{117,120}</string>
                <key>textureRect</key>
                <string>{{117,0},{117,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,120}</string>
                <key>spriteSourceSize</key>
                <string>{117,120}</string>
                <key>textureRect</key>
                <string>{{234,0},{117,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,120}</string>
                <key>spriteSourceSize</key>
                <string>{117,120}</string>
                <key>textureRect</key>
                <string>{{351,0},{117,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,120}</string>
                <key>spriteSourceSize</key>
                <string>{117,120}</string>
                <key>textureRect</key>
                <string>{{468,0},{117,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Gragon.png</string>
            <key>size</key>
            <string>{585,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:819a23da721391b918d7ce1203f05b56:e56766db7010a1e265db6a115102ae59:d762af61addf76cd22f3d09f6c3d2806$</string>
            <key>textureFileName</key>
            <string>Gragon.png</string>
        </dict>
    </dict>
</plist>
